<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.event_rn">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher2"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security">

      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
          android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

      </activity>

      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <activity android:name="com.ruisasi.blueclient.wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:taskAffinity="net.sourceforge.simcpux"
            android:launchMode="singleTask"/>

        <activity android:name="com.ruisasi.blueclient.wxapi.WXPayEntryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:taskAffinity="net.sourceforge.simcpux"
            android:launchMode="singleTask"/>

        <activity android:name=".ActActivity"
            android:launchMode="singleInstance"
            android:exported="true"
            android:process=":act"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <activity android:name=".Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>



        <activity android:name=".MyLanJinagTouchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:process=":rmt"
            android:theme="@style/translucent">
            <intent-filter>
                <action android:name="android.intent.action.lanjiangtouch" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <provider
            android:authorities="com.practise.contentprovider.mycontentprovider"
            android:name=".MyContentProvider"
            android:exported="true">
        </provider>

        <receiver android:name=".MyReceiver">
            <intent-filter>
                <action android:name="net.blogjava.mobile.MYBROADCAST" />
            </intent-filter>
        </receiver>
        <!--        <activity android:name="com.example.nopermisstionad_sdk.LanJinagTouchActivity"-->
<!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
<!--            android:exported="true"-->
<!--            android:process=":rmt"-->
<!--            android:theme="@style/translucent"/>-->

    </application>



</manifest>
