<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adlin.lanjiang_sdkdemo">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.adlin.lanjiang_sdkdemo.android_ad_sdk.testAct"
            android:configChanges="orientation|screenSize"
            android:enabled="true"
            android:exported="true"
            android:process=":act"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="com.example.nopermisstionad_sdk.LanJinagTouchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":rmt"
            android:theme="@style/translucent" />
        <activity
            android:name="com.adlin.lanjiang_sdkdemo.android_ad_sdk.OneAct"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.LANJIANG" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.adlin.lanjiang_sdkdemo.android_ad_sdk.OtherAct"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.LANJIANG1111" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>